APP_ENV=local
OSS_ACCESS_KEY_ID=your-access-key-id
OSS_ACCESS_KEY_SECRET=your-access-key-secret
OSS_SESSION_TOKEN=
OSS_BUCKET_NAME=luke-chu-site-photography
OSS_ENDPOINT=oss-cn-hongkong.aliyuncs.com
OSS_PUBLIC_BASE_URL=https://luke-chu-site-photography.oss-cn-hongkong.aliyuncs.com
OSS_REGION=cn-hongkong
OSS_PRESIGN_EXPIRE_SECONDS=300
